* {
    padding: 0px;
    margin: 0px;
    font-family: Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(19, 28, 58);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#s2 {
    width: 100%;
    height: 100%;
    margin: 10px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(19, 28, 58);
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  h = header, s = section, d = div  */

#hs1 {
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

#hs1 .hsd1 img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

#hs2 {
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
}

header section div {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 40px;
}

.hsd1 {
    justify-content: left;
    margin-left: 30px;
}

.hsd2 {
    justify-content: right;
    margin-right: 30px;
}

/* ---------- MENU ---------- */

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0px;
    text-align: center;
}

#menu ul li a {
    display: block;
    color: #FFF;
    font-weight: 400;
    font-size: 15px;
    font-family: Verdana;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 10px;

}

#menu ul li {
    float: left;
    position: relative;
}

#menu ul li:hover {
    background-color: rgb(39, 56, 112);
    border-radius: 8px;
}

#menu ul ul {
    display: none;
    position: absolute;
    margin-left: 0;
}
/* linea distintiva
 #menu ul li.activo a::after {
    content: '';
    display: block;
    border-bottom: 3px solid white;
    margin: 0 auto;
    margin-top: 1px;
    width: 50%;
}
*/

#menu ul li.activo a {
    font-weight: bold;
}

/* ---------- FIN MENU ---------- */